<div class="details">
    <p>Carrito ID: {{cart._id}} </p>
    <h2>Productos en el Carrito</h2>
    <ul>
        {{#each carts.product}} <!--carts.products-->
            <li>
                <p>Producto ID : {{_id}} </p>
                <p>Descripcion : {{description}} </p>
                <p>Precio : $ {{price}} </p>
                <p>Cantidad : {{quantity}} </p>
            </li>
        {{/each}}
    </ul>
</div>

