<div class="Product-details">
    <p>Carrito ID: {{carts._id}} </p>
    <h2>Productos en el Carrito</h2>
    <ul>
        {{#each carts.product}} <!--carts.products-->
            <li>
                <p>Producto ID : {{this.productId._id}} </p>
                <p>Descripcion : {{this.productId.description}} </p>
                <p>Precio : $ {{this.productId.price}} </p>
                <p>Cantidad : {{this.quantity}} </p>
            </li>
        {{/each}}
    </ul>
</div>

