<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="Product-details"></div>
    <p>Carrito ID: {{Carts._id}} </p>
    <h2>Productos en el Carrito</h2>
    <ul>
        {{#each carts.products}}
            <li>
                <p>Producto ID : {{this.productId._id}} </p>
                <p>Descripcion : {{this.productId.description}} </p>
                <p>Precio : $ {{this.productId.price}} </p>
                <p>Cantidad : {{this.quantity}} </p>
            </li>
        {{/each}}
    </ul>
</body>
</html>