<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>{{title}} </h1>
        <a href="/products">Volver a la vista de Products</a>
    </header>

    <div class="product-details">
        <p>{{product._id}} </p>
        <h2>Descripcion {{product.description}} </h2>
        <p>Precio : ${{product.price}} </p>
        <p>stock : {{product.stock}} </p>
        <p>Categoria : {{product.category}} </p>
        <p>Estado : {{product.availability}} </p>
        <button>Agregar al Carrito </button>
    </div>
    
    <footer>
        <!-- Agrega contenido del pie de página si es necesario -->
    </footer>
</body>
</html>